<div class="alert alert-danger hide" id="dangerMessage">Please, put the correct data!</div>
<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="userName">Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label class="sr-only" for="phone">Password</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter phone">
    </div>
    <button type="button" class="btn btn-default" id="submitContact">Add contact</button>
</form>
