<%if (data) {%>
    <div class="contact-update-row row" data-id="<%= data.get('id') %>">
        <div class="col-md-5 contact-name"><%= data.get('name') %></div>
        <div class="col-md-3 contact-number"><%= data.get('number') %></div>
        <i class="glyphicon glyphicon-remove contact-remove hide"></i>
    </div>
<%} else {%>
    <div class="contact-create-row row">
        <div class="col-md-5 contact-name">Name</div>
        <div class="col-md-3 contact-number">Number</div>
    </div>
<%}%>
