<form class="form-inline row" role="form">
    <div class="form-group col-md-4">
        <label class="sr-only" for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
        <span class="validation-fields" id="validationEmail"></span>

    </div>
    <div class="form-group col-md-4">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
        <span class="validation-fields" id="validationPassword"></span>
    </div>
    <div class="checkbox col-md-2">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" id="submitLogin">Sign in</button>
    </div>
</form>
